/*css for about*/
#about{
    width: 90%;
    margin: auto;
    min-height: 80vh;
}
/*css for alignAbout*/
.alignAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem 2rem 0rem;    
}
.aboutText{
    flex: 1 1 10rem;
    span{
        display: flex;
        align-items: center;
        flex-direction: column;
        h4{
            color: orangered;
        }
    }
        p{
            width: 60%;
            margin: auto;
            text-align: center;
        }
}
.aboutImage{
    flex: 1 1 10rem;
}