/*css for contact*/
#contact{
    min-height: 50vh;
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
}
/*css for align contact*/
.alignContact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);    
    align-items: center;  
    padding: 1rem;
    gap: 1rem;
    background: linear-gradient(to right,rgba(0, 0, 255, 0.5), rgba(255, 68, 0, 0.281)),
    url(../images/SKV\ SMART\ TRAVEL\ AND\ TOURISM\ LLC.jfif);
    background-repeat: no-repeat;
    background-size: cover;

}
.conText{
    display: flex;
    flex-direction: column;
    flex: 1 1 10rem;
    gap: 1rem;
    color: white;
    i{
        color: orangered;
    }
    h1{
        font-size: 3rem;
        text-align: center;
        line-height: 3.2rem;

    }
    p{
        text-align: center;
    }
}
/*css for form div*/
.conMage{
    flex: 1 1 10rem;
    form{
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
        padding: 1rem;
        border-radius: .5rem;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 1rem;
        input{
            padding: 0.5rem;
        }
    }
}
.chat{
    display: flex;
    align-items: center;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
    width: 60%;
    justify-content: center;
    transition: all 0.8s ease;
    background-color: white;
    color: black;
    border-radius: .5rem;
}
.chat:hover{
    transform: scale(1.02);
}
.info{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 1rem;
    transition: all 0.8s ease;
    span{
        flex: 1 1 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
}
.info:hover{
    transform: scale(1.02);
}
.buttlin{
    div{
        display: flex;
        align-items: center;
        gap: .5rem;
        background-color: black;
        color: white;
        padding: 1rem;
        border-radius: .5rem;
    }
}